In [92]:
import pandas as pd
from pathlib2 import Path
import glob

path_fbs = 'DIV1FCS_2017/*/*.csv'
path_fcs = 'DIV1FBS_2017/*/*.csv'
fbs = glob.glob(path_fbs)
fcs = glob.glob(path_fcs)

frame = pd.DataFrame()
list_ = []

for fname in fbs:
    df = pd.read_csv(fname,index_col=None,header=0)
    list_.append(df)
    
for fname in fcs:
    df = pd.read_csv(fname,index_col=None,header=0)
    list_.append(df)

frame = pd.concat(list_)
frame = frame.drop('High School/JUCO',axis=1)
frame[['Number','Height','Weight']] = frame[['Number','Height','Weight']].apply(pd.to_numeric,errors='coerce')
frame.head()

  Class  Height           Hometown           Name  Number Position  Weight
0    FR  6000.0  Mountain View, CA     Matt Keeth     NaN       PK   165.0
1    FR  6050.0    Woodinville, WA   Michael Roth     NaN       WR   185.0
2    SR  6020.0    Bakersfield, CA      B.J. Nard     1.0       DB   212.0
3    SR  6000.0       Hercules, CA  Jerek Rosales     2.0       DB   188.0
4    SR  6010.0     El Cerrito, CA  Kevin Griffin     3.0       DB   190.0